.btn {
  background-color: red;
  padding: 10px 20px;
  border: 1px solid #000;
}
.click {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 320px) and (max-width: 480px) {
  
  .bg-red {
    background-color: rgb(247, 0, 255);
    height: 100px;
    font-size: 10px;
  }
  
}
@media (min-width: 481px) and (max-width: 767px) {
  
  .bg-red {
    background-color: rgb(25, 0, 255);
    height: 100px;
    font-size: 30px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  
  .bg-red {
    background-color: rgb(21, 255, 0);
    height: 100px;
    font-size: 70px;

  }
  
}





/* Content */
/* .content {
  width: 100%;
  margin: 0 auto;
} */
.content_experience .row:first-child {
  width: 1296px;
  margin: 0 auto;
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  margin: 60px 0;
}
.content_experience .for_item {
  width: 75%;
}
.content_experience .exp_left {
  padding: 80px 50px;
  /* width: 70%; */
  /* transform: translateY(-300px); */
}
.content_experience .exp_left .title {
  font-size: 36px;
  font-weight: 900;
  color: rgb(65, 65, 65);
}
.exp_left .title span {
  position: relative;
}
.exp_left .title span::after {
  content: "";
  position: absolute;
  bottom: 11px;
  left: 0;
  width: 100%;
  height: 6px;
  color: #f3a46b;
  background-color: #f3a46b;
  z-index: -100;
}
.content_experience .exp_left .walk {
  font-size: 16px;
  letter-spacing: 3px;
}
.exp_left .exp_left_text {
  display: flex;
  font-size: 13px;
  letter-spacing: 1px;
  margin: 20px 0;
}
.exp_left a {
  text-decoration: none;
  color: #fff;
  background-color: var(--orange);
  border: 0;
  padding: 8px 28px;
  border-radius: 20px;
  transition: 0.3s;
}
.exp_left a:hover {
  color: #fff;
  opacity: 0.9;
  transition: 0.3s;
}
.content_experience .exp_right {
  position: relative;
}
.content_experience .exp_right img {
  width: 100%;
}
.exp_right a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
}
.exp_right a:hover {
  opacity: 0.8;
  transition: 0.25s;
}

.content_experience .for_item {
  transform: translateY(-120%);
  /* width: 75%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.for_item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}
.for_item .item {
  position: relative;
} 
.for_item .price {
  position: absolute;
  top: 10px;
  right: 30px;
  border-radius: 20px;
  /* border: 1px solid black; */
  padding: 1px 14px;
  font-weight: 550;
  letter-spacing: 1px;
  color: #fff;
}
.for_item .price1 {
  background: linear-gradient(to right, #ffd205 0%, #ff9b05 100%);
}
.for_item .price2 {
  background: linear-gradient(to right, #f76570 0%, #f78d65 100%);
}
.for_item .price3 {
  background: linear-gradient(to right, #ba71da 0%, #da717b 100%);
}
.for_item .price4 {
  background: linear-gradient(to right, #14b9d5 0%, #14d5b1 100%);
}
/* @media (min-width: 481px) and (max-width: 767px) {
  
  .bg-red {
    background-color: rgb(25, 0, 255);
    height: 100px;
    font-size: 30px;
  }
} */








/* <!-- <div class="row for_item">
<div class="item col-12 col-lg-2 col-md-12">
  <a href="#"><img src="./images/exp1.jpg" alt="exp"></a>
  <p class="price price1">700$</p>
</div>
<div class="item col-12 col-lg-2 col-md-12">
  <a href="#"><img src="./images/exp2.jpg" alt="exp"></a>
  <p class="price price2">500$</p>
</div>
<div class="item col-12 col-lg-2 col-md-12">
  <a href="#"><img src="./images/exp3.jpg" alt="exp"></a>
  <p class="price price3">400$</p>
</div>
<div class="item col-12 col-lg-2 col-md-12">
  <a href="#"><img src="./images/exp4.jpg" alt="exp"></a>
  <p class="price price4">1200$</p>
</div>
</div> --> */